/* you can add to or change this. */

#game div {
  border: 1px solid black;
  width: 100px;
  height: 150px;
  margin: 20px;
  position: relative;
  display: inline-block;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

#game .fliped {
  transform: rotateY(180deg);
}

#game div:active {
  transform: scale(0.97);
  transition: transform .2s;
}

h1 {
  text-align: center;
  padding-top: 50px;
}

#game {
  width: 800px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 50px;
  padding-left: 90px;
  perspective: 1000px;
}

.front, .back {
position: absolute;
backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}